$default: #171717;
$hover: #4d7ecc;
$accent: #35B984;
$accent-2: #FC2F2F;
$hover: #FF9533;
$background-block: #EEE;

%btn {
   @extend %Bebas-Neue-700;
   background-color: $accent;
   font-size: 24px;
   line-height: 100%;
   text-transform: capitalize;
   color: #fff;
   border: none;
   cursor: pointer;
   transition: all .2s;
   &:hover {
      color: $default;
      background-color: $hover;
   }
}

%Bebas-Neue-700 {
   font-family: 'Bebas-Neue', sans-serif;
   font-weight: 700;
}
%DMSans-Regular-400 {
   font-family: 'DMSans-Regular', sans-serif;
   font-weight: 400;
}
%DMSans-Bold-700 {
   font-family: 'DMSans-Bold', sans-serif;
   font-weight: 700;
}
//   =====
%DMSans-Medium-500 {
   font-family: 'DMSans-Medium', sans-serif;
   font-weight: 500;
}