<footer class="footer">
   <div class="footer-top">
      <div class="container">
         <div class="footer__wrapper">
            <div class="footer-top__inner">
               <div class="footer-top__socials">
                  <div class="footer-top__social-links">
                     <a class="footer-top__social-link" href="https://www.instagram.com/">
                        <svg class="footer-top__social-img-svg">
                           <use xlink:href="images/sprite.svg#instagram-icon" width="32" height="32"></use>
                        </svg>
                     </a>
                     <a class="footer-top__social-link" href="https://www.linkedin.com/">
                        <svg class="footer-top__social-img-svg">
                           <use xlink:href="images/sprite.svg#linkedin-icon" width="32" height="32"></use>
                        </svg>
                     </a>
                     <a class="footer-top__social-link" href="https://uk-ua.facebook.com/">
                        <svg class="footer-top__social-img-svg">
                           <use xlink:href="images/sprite.svg#facebook-icon" width="32" height="32"></use>
                        </svg>
                     </a>
                  </div>
                  <div class="footer-top__contacts">
                     <a class="footer-top__phone" href="tel:+19292072233">
                        <span class="footer-top__phone-descr">Call:</span>+19292072233
                     </a>
                     <a class="footer-top__phone" href="mailto:info@taxstrategy.expert">
                        <span class="footer-top__phone-descr">Email:</span>info@taxstrategy.expert
                     </a>
                  </div>
               </div>
               <div class="footer-top__logo">
                  <a class="footer-top__logo-link" href="#">
                     <img class="footer-top__logo-img" src="images/logo-footer.png" alt="logo footer">
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="footer-bottom">
      <div class="container">
         <div class="footer__wrapper">
            <div class="footer-bottom__copyright">
               Copyright © 2023 Taxstrategy.expert
            </div>
         </div>
      </div>
   </div>
</footer>
<script src="js/main.min.js"></script>
</div>
</body>
</html>