<!DOCTYPE html>
<html lang="ru">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
   <div class="wrapper">
   <header class="header">
      <div class="container">
         <div class="header__wrapper">         
            <div class="header__logo">
               <svg class="header__logo-svg">
                  <use xlink:href="images/sprite.svg#logo" width="104" height="59"></use>
               </svg>
            </div>
            <div class="header__info">
               <a class="header__phone" href="tel:+19292072233"><span class="header__phone-descr">Call us:</span>+19292072233</a>
               <div class="header__social-links">
                  <a class="header__social-link" href="https://www.instagram.com/">
                     <svg class="header__social-imh-svg">
                        <use xlink:href="images/sprite.svg#instagram-icon" width="32" height="32"></use>
                     </svg>
                  </a>
                  <a class="header__social-link" href="https://www.linkedin.com/">
                     <svg class="header__social-imh-svg">
                        <use xlink:href="images/sprite.svg#linkedin-icon" width="32" height="32"></use>
                     </svg>
                  </a>
                  <a class="header__social-link" href="https://uk-ua.facebook.com/">
                     <svg class="header__social-imh-svg">
                        <use xlink:href="images/sprite.svg#facebook-icon" width="32" height="32"></use>
                     </svg>
                  </a>
               </div>
               <button class="header__btn" type="submit">Free consultation</button>
            </div>
         </div>
      </div>
   </header>