
   <main class="main">
      <section class="top">
         <div class="container">
            <div class="top__background">
               <div class="top__overlay"></div>
               <div class="box-wrapper">
                  <h2 class="top__title">AVOID THESE<span class="top__title-decore">5 MISTAKES</span></h2>
                  <h3 class="top__subtitle">WHEN YOU SET UP<br>A TAX SAVING STRUCTURE!</h3>
                  <div class="top__inner">
                     <div class="top__item">
                        <h5 class="top__item-title">THE JURISDICTION WHICH YOU CHOOSE TO INCORPORATE YOUR COMPANY HAS TO BE COMPLIANT WITH THE COUNTRY OF YOUR RESICENCE!</h5>
                        <p class="top__item-text">If this is not the case the tax saving structure is classed as Tax Fraud and you will be fined. In the worst case it is classed as a Criminal Act.</p>
                        <a class="top__item-link" href="#">Learn more</a>
                     </div>
                     <div class="top__item">
                        <h5 class="top__item-title">TAKE NOTE OF ALL TYPES OF TAX!</h5>
                        <p class="top__item-text">For example, if you forget the withholding tax, there will be a tax that has not been taken into account which will significantly reduce your income at the end of the year.</p>
                        <a class="top__item-link" href="#">Learn more</a>
                     </div>
                     <div class="top__item">
                        <h5 class="top__item-title">Do not trust the statements of 0% taxes from providers on the Internet. </h5>
                        <p class="top__item-text">Just because, for example, a company in Hong Kong does not have to pay taxes does not mean that you as a shareholder do not have to pay taxes either.</p>
                        <a class="top__item-link" href="#">Learn more</a>
                     </div>
                     <div class="top__item">
                        <h5 class="top__item-title">Sales tax: In any case, observe the applicable sales tax guidelines.</h5>
                        <p class="top__item-text"> In particular, if your services are aimed at consumers, the sales tax requirements must be observed. If you fail to do this, you risk high additional payments and make yourself liable to prosecution.</p>
                        <a class="top__item-link" href="#">Learn more</a>
                     </div>
                     <div class="top__item">
                        <h5 class="top__item-title">Do you get accounts with payment providers with the company location you have chosen without any problems? </h5>
                        <p class="top__item-text">Often these points are not considered and suddenly you do not receive, for example, an urgently needed Paypal account and no bank account.</p>
                        <a class="top__item-link" href="#">Learn more</a>
                     </div>                    
                  </div>
                  <div class="top__info">
                     <p class="top__info-text"><span class="top__itemdecore">Tax optimization</span>is the key 
                        to create wealth and the foundation of every
                        successful entrepreneur</p>
                     <button class="top__indo-btn" type="submit">Free consultation</button>
                     <div class="top__info-warth">Worth 500 USD
                        <svg class="header__social-imh-svg">
                           <use xlink:href="images/sprite.svg#top-worth" width="24" height="24"></use>
                        </svg>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </main>