<section class="popup" id="popup-content">
   <div class="popup__wrapper">
      <h2 class="popup__title">FREE CONSULTATION</h2>
      <form class="popup__form">
         <input class="popup__input-text" id="popup-name" type="text" placeholder="Name">
         <input class="popup__input-text" id="popup-phone" type="text" placeholder="Phone">
         <input class="popup__input-text" id="popup-email" type="email" placeholder="Mail">
         <textarea class="popup__textarea" placeholder="Your comment"></textarea>
         <button class="popup__btn" type="submit">submit</button>
      </form>
   </div>
</section>